/*HOME SECTION*/
#home {
  background: url('assets/imgs/HOME-background.jpeg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Home-Container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

/* ABOUT SECTION */
.column-container {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
}

/* Inside of Home-Info-Container*/
.Profile-Pic-Container, .Home-text-content {
  background-color: rgba(255, 255, 255, 0);
  /* border: solid 2px rgba(255, 255, 255, 0); */
  border-radius: 10px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1;
  
}

/* EXAMPLE BOX CONTAINERS */
/* .about-me, .skills-container, .hobbies-container, .contact-info {
  flex: 1;
  margin: 5px 10px;
  padding: 10px;
	padding-bottom: 10px;
  background-color: #f9f9f900;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  min-width: 250px; 
}
  
.skills-list {
  list-style-type: none;
}

.skills-list li {
  font-size: 1.2rem;
  margin: 10px 0;
}

.education-item, .work-item {
  margin: 20px 0;
}

   */