/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: color 0.4s ease;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
    transition: background-color 0.5s ease, color 0.5s ease;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    justify-self: center;
}

.navbar {
    position: fixed;
    /* FIX THE POSITION OF THE NAV */
    left: 50%;
    transform: translateX(-50%);
    /* ---- */
    width: 65%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5rem;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
}

.nav-logo{
    position: fixed;
    left: 10%;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.nav-list {
    list-style: none;
    display: flex;
    gap: auto;
    align-items: center; /* Aligns the items vertically */
}

.nav-list li a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(32, 32, 32);
    padding: 10px;
    transition: color 0.5s ease;
}

.nav-list li a:hover {
    background-color: #a1a1a1;
    border-radius: 20px;
}

.dark-mode .nav-list li a:hover {
    background-color: #c0c0c0;
    border-radius: 20px;
}

/* Section Styles */
section {
    padding: 100px 20px;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
}


h1{
    font-size: 2.5cm;
}
h2 {
    font-size: 1.8rem;
}

p {
    font-size: 1.2rem;
}

h3 {
    padding-bottom: 5px;
}

ul, ol {
    padding-left: 20px;
}

img {
    border-radius: 10px;
    max-width: 100%; 
    height: auto;
}

hr {
    width: 100%;
    margin: 20px 0;
    border: 1px dashed #61d3d3;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover {
    background-color: #555;
}

/* Footer */
footer {
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
}

/* MOBILE COMPATIBILITY */
@media (max-width: 1280px) {
    h1, h2 {
        font-size: 2rem;
    }

    .navbar {
        flex-direction: column;
    }

    .nav-list {
        flex-direction: column;
        gap: 10px;
    }

    header {
        border-radius: 1rem;
    }

    section {
        padding: 60px 20px;
        height: 100vh;
        display: flex;
        justify-content: center;
    }
}