#mabout{
    position: relative;
    top: 0px;
    margin-top: 0px;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    background-image: linear-gradient(to bottom , #E2EFD9 ,#d3f8c7,#fefffe); 
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 20px;
    padding: 50px;
    padding-left: 80px;
    background-color: #ecf8e5; 
    border-radius: 30px;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.hr-about{
    width: 30px !important;
    border: 1px solid #61d387;
    transform: translateX(-100%) translateY(-300%) !important;
}

.about-text {
    flex: 1;
    text-align: justify;
    padding-right: 20px;
    max-height: 100%;
}
.about-text-sub {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
}

.about-iden{
    color: #4b9620;
    text-align: left;
}
.about-Title {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: left;
}

.about-text p {
    line-height: 1.6;
    text-align: left;
}

hr {
    width: 30% !important;
    align-self: center;
}

/* ------------------------------------------------------- */
#details{
    position: relative;
    top: 0px;
    margin-top: 0px;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.details-container{
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    gap: 20px;
    background-color: #ecf8e5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.details-content {
    width: 100%;
    text-align: justify;
    text-indent: 3rem;
}








/* --------------------------------------------------------- */
/* Button styles */
button {
    margin-top: 20px;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    background-color: #257539;
    font-size: 1rem;
    color: #ffffff;
}

button:hover {
    background-color: #76a94d;
}
